/* Fonts */

@font-face {
    font-family: 'jostregular';
    src: url('../fonts/jost-400-book-webfont.woff2') format('woff2'),
         url('../fonts/jost-400-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jostmedium';
    src: url('../fonts/jost-500-medium-webfont.woff2') format('woff2'),
         url('../fonts/jost-500-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jostbold';
    src: url('../fonts/jost-700-bold-webfont.woff2') format('woff2'),
         url('../fonts/jost-700-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jostlight';
    src: url('../fonts/jost-300-light-webfont.woff2') format('woff2'),
         url('../fonts/jost-300-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Reset style css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, button, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
html, body {
	height: 101%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

::-webkit-input-placeholder {
	color:#000;
}
::-moz-placeholder {
	color:#000;
}
:-moz-placeholder {
	color:#000;
}
:-ms-input-placeholder {
	color:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
strong, b {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
	max-width: 100%;
}
a {
	text-decoration: underline;
}
a, button, a:hover, button:hover, .top-nav ul a strong, .input-elements, .jq-radio {
	text-decoration: none;
	transition: all 250ms linear;	
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 100;
}
h1 {
	font-size: 138.5%;
}
h2 {
	font-size: 123.1%;
}
h3 {
	font-size: 108%;
}
input:focus, textarea:focus, select:focus{
	outline: none;
}
input, textarea, select {
	outline: none;
	border-radius: 0;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}
header, main, footer, section, div, a, button, li {
	-moz-box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	box-sizing: border-box!important;
}
input, textarea {
	-moz-box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	box-sizing: border-box!important;
	box-shadow: none!important;
	resize: none!important;
	margin: 0px;
	-webkit-appearance: none;
	outline-style:none;	
	border-color:transparent;
}
.clear {
	width:100%;
	height:0;
	margin:0;
	padding:0;
	clear:both;
}

.hiden {
	display: none!important;
}
.open-items {
	overflow: hidden!important;
}


/* Site */

body {		
	font-family: 'jostregular';
	min-width: 320px;
	font-size: 14px;
	color: #000;
	background: #F9F9F9;
}


/* header */
header {
	background: #fff;
	height: 100px;
}
.logo, .logo i, .logo span {
	display: inline-block;
	vertical-align: middle;
	color: #BD1859;
}
.logo {
	
}
.logo i {
	background: url(../img/logo.svg) no-repeat;
	background-size: 58px 57px;
	width: 58px;
	height: 57px;
	margin: 0 12px 0 0;
}
.logo span {
	font-size: 19px;
	line-height: 18px;
	font-family: 'jostbold';
}
.button, .button2 {
	display: inline-block;
	vertical-align: middle;
	color: #E50B5B;
	background: #fff;
	border: 1px solid #E50B5B;
	font-size: 16px;
	height: 38px;
	line-height: 36px;
	width: 130px;
	text-align: center;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
}
.button:hover {
	color: #fff;
	background: #E50B5B;
} 
.button2 {
	color: #fff;
	background: #E50B5B;
}
.button2:hover {
	color: #E50B5B;
	background: #fff;
}
.w80 {
	width: 80%;
	margin: auto;
	height: 100%;
}
.col2 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
	height: 100%;
}
.col2-left {
	align-self: center;
    justify-self: center;
    width: 100%;
}
.col2-right {
	align-self: center;
    justify-self: center;
    width: 100%;
	text-align: right;
}

.top-banner {
	background: url(../img/banner.jpg) no-repeat center;
	width: 100%;
	height: 360px;
	object-fit: cover;
    object-position: center;
	position: relative;
	z-index: 1;
	color: #fff;
}
/*
.top-banner::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(229, 11, 91, 0.8);	
	z-index: 2;
}
*/
.tbw {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
	
	z-index: 4;
	position: relative;
	width: 80%;
	margin: auto;
	
	height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height:  -o-calc(100% - 80px);
    height: calc(100% - 80px);
}
.tbw-inner {
	align-self: center;
    justify-self: center;
	width: 100%;
	padding: 0 0 0 40px;
}
.tbw-inner h1 {
	font-size: 45px;
	line-height: 35px;
	font-family: 'jostbold';
	margin: 0 0 25px 0;
	width: 70%;
}
.tbw-inner p {
	font-size: 24px;
	line-height: 24px;
	font-family: 'jostmedium';
	width: 70%;
}
.top-nav {
	background: #fff;
	width: 80%;
	margin: auto;
	padding: 50px 10px 40px 10px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-top: -80px;
	z-index: 4;
	position: relative;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.top-nav ul {
	
}
.top-nav ul li {
	float: left;	
	width: 16.6%;
	text-align: center;
}
.top-nav ul a strong {
	display: block;
	font-family: 'jostbold';
	font-weight: normal;
	font-size: 19px;
	margin: 10px 0 5px 0;
}
.top-nav ul a:hover strong {
	color: #E60B5B;	
}
.top-nav ul a small {
	font-family: 'jostmedium';
}

.mikrorynki i {
	background: url(../img/mikrorynki.svg) no-repeat;
	background-size: 107px 103px;
	width: 107px;	
}
.konkuretsiya i {
	background: url(../img/konkuretsiya.svg) no-repeat;
	background-size: 99px 103px;
	width: 99px;
}
.tseny-azs i {
	background: url(../img/tseny-azs.svg) no-repeat;
	background-size: 100px 103px;
	width: 100px;
}
.reklamnye-aktsii i {
	background: url(../img/reklamnye-aktsii.svg) no-repeat;
	background-size: 107px 103px;
	width: 107px;
}
.loyalnost i {
	background: url(../img/loyalnost.svg) no-repeat;
	background-size: 107px 103px;
	width: 107px;
}
.tekhnologii i {
	background: url(../img/tekhnologii.svg) no-repeat;
	background-size: 90px 103px;
	width: 90px;
}
.top-nav ul a i {
	display: block;
	margin: auto;
	height: 103px;
}

.category {
	
}
.category h2 {
	margin: 50px 0 0px 0;
	font-size: 30px;
	font-family: 'jostbold';
}
.category-w {
	width: -moz-calc(100% + 50px);	
    width: -webkit-calc(100% + 50px);	
    width: -o-calc(100% + 50px);	
    width: calc(100% + 50px);	
	margin-left: -50px;
}
.category-items {
	width: -moz-calc(25% - 50px);	
    width: -webkit-calc(25% - 50px);	
    width:  -o-calc(25% - 50px);	
    width: calc(25% - 50px);		
	float: left;
	margin: 40px 0 10px 50px;
	height: 560px;
	position: relative;
	z-index: 3;
}
.category-items-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.cit-b {
	background: #fff;
	margin: 0;
	padding: 40px 21px 0 21px; 
	height: 345px;
}
.cit-b h3 {
	font-size: 24px;
	line-height: 24px;
	font-family: 'jostbold';
	margin: 0 0 20px 0;
	position: relative;
	max-height: 49px;
	overflow: hidden;
}
.cit-bt {
	height: 90px;
	position: relative;
	overflow: hidden;
	
}
.cit-bt p {
	font-family: 'jostmedium';
	font-size: 15px;
}
.cit-bb {
	position: absolute;
	bottom: 20px;
}
.time-items {
	font-family: 'jostmedium';	
}
.time-items li, .calendar, .time-items li p, .clock {
	display: inline-block;
	vertical-align: middle;
	
}
.calendar {
	background: url(../img/date.svg) no-repeat;
	background-size: 17px 19px;
	width: 17px;
	height: 19px;
}
.category-items:hover .calendar {
	background: url(../img/date-w.svg) no-repeat;	
}
.time-items li p {
	font-size: 15px;
	margin: 0 0 0 5px;
}
.time-items li:first-child {
	margin: 0 20px 0 0;
}
.clock {
	background: url(../img/clock.svg) no-repeat;
	background-size: 19px;
	width: 19px;
	height: 19px;
}
.category-items:hover .clock {
	background: url(../img/clock-w.svg) no-repeat;
}

.button-w {
	margin: 0 0 40px 0;
}
.button-w .button {
	margin: 0 10px 0 0;
}

.category-items figure {
	height: 215px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.category-items figure::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 2;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
}
.category-items figure, .category-items figure img, .category-items figure::before, .price {
	transition: all 250ms linear;	
}
.category-items figure, .category-items figure img {
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.category-items figure img {
	object-fit: cover;
    object-position: center;
	height: 100%;
	width: 100%;
}
.category-items:hover figure, .category-items:focus figure {
	height: 100%;
}
.category-items {
	
}
.category-items:hover .cit-b {
	background: none;
	color: #fff;
}
.category-items:hover figure::before {
	background: rgba(0, 0, 0, 0.5);
}

.category-items:hover figure img {
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.category-items:hover .button {
	border: 1px solid #fff;
	color: #fff;
	background: none;
}
.category-items:hover .button:hover {
	background: #fff;
	color: #E50B5B;
}
.category-items:hover .button2:hover {
	border: 1px solid #fff;
}
.price {
	position: absolute;	
	background: #E60B5B;
	color: #fff;
	top: -45px;
	right: 25px;
	width: 72px;
	height: 72px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr;
	grid-template-areas: ".";
	
	font-style: normal;
}
.price span {
	align-self: center;
    justify-self: center;
	font-family: 'jostbold';
	font-size: 16px;
	position: relative;
}
.rub {
	display: inline-block;
	vertical-align: top;
	background: url(../img/rub.svg) no-repeat;
	background-size: 9px 12px;
	width: 9px;
	height: 12px;	
	position: absolute;
	right: -10px;
	top: 0px;
}
.category-items:hover .price {	
	-ms-transform: scale(1.2) translateY(-10px);
    -moz-transform: scale(1.2) translateY(-10px);
    -o-transform: scale(1.2) translateY(-10px);
    -webkit-transform: scale(1.2) translateY(-10px);
    transform: scale(1.2) translateY(-10px);
}

/* Content */
.content-item {
	background: #fff;
	border: 1px solid #EAEAEA;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 30px 0 0 0;
	padding: 55px 35px 55px 35px;
}
.content-item h2 {
	margin: 0 0 10px 0;
}
.content-item .price2 {
	margin: 20px 0 0 0;
	display: block;
}
.wtext2 {
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	padding: 40px 0 40px 0;
	margin: 40px 0 50px 0;
}

.button-big {
	font-size: 30px;
	padding: 0px 30px 0px 30px;
	min-width: 310px; 
	height: 80px;
	line-height: 76px;
	border: 2px solid #E50B5B;
}
.bright {
	text-align: right;
}

/* Forms */
.jq-checkbox,
.jq-radio {
	width: 56px;
	height: 56px;
	margin: 0 4px 0 0;
	border: 1px solid #C9C9C9;
	background: none;	
	cursor: pointer;
	
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
	position: relative;
	overflow: hidden;
}
.jq-checkbox.focused,
.jq-radio.focused {
	border: 1px solid #E50B5B;
}
.jq-checkbox.disabled,
.jq-radio.disabled {
	opacity: .55;
}
.jq-checkbox {
	border-radius: 3px;
	position: relative;
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: url(../img/check.svg) no-repeat center;
	background-size: 35px;
	top: 0;	
}
.jq-checkbox .input-checkbox {
	position: absolute;
	left: -9999px;
	opacity: 0;
}
.jq-radio {
	border-radius: 50%;
}
.jq-radio.checked .jq-radio__div {
	width: 10px;
	height: 10px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	background: #777;	
}
.jq-file {
	width: 270px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.jq-file input {
	cursor: pointer;
}
.jq-file__name {
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	padding: 0 80px 0 10px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #FFF;
	box-shadow: inset 1px 1px #F1F1F1;
	font: 14px/32px Arial, sans-serif;
	color: #333;
}
.jq-file__browse {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0 10px;
	border-left: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
	background: linear-gradient(#FFF, #E6E6E6);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px/32px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
}
.jq-file:hover .jq-file__browse {
	background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-file:active .jq-file__browse {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.focused .jq-file__name {
	border: 1px solid #5794BF;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-number {
	position: relative;
	vertical-align: middle;
	padding: 0 36px 0 0;
}
.jq-number__field {
	width: 100px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
}
.jq-number__field:hover {
	border-color: #B3B3B3;
}
.jq-number__field input {
	box-sizing: border-box;
	width: 100%;
	padding: 8px 9px;
	border: none;
	outline: none;
	background: none;
	font: 14px Arial, sans-serif;
	color: #333;
}
.jq-number__spin {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 14px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: linear-gradient(#FFF, #E6E6E6);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 1px 1px #FFF;
	cursor: pointer;
}
.jq-number__spin.minus {
	top: auto;
	bottom: 0;
}
.jq-number__spin:hover {
	background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-number__spin:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-number__spin:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 11px;
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #999;
	border-left: 5px solid transparent;
}
.jq-number__spin.minus:after {
	top: 5px;
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-bottom: none;
	border-left: 5px solid transparent;
}
.jq-number__spin.minus:hover:after {
	border-top-color: #000;
}
.jq-number__spin.plus:hover:after {
	border-bottom-color: #000;
}
.jq-number.focused .jq-number__field {
	border: 1px solid #5794BF;
}
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-number.disabled .jq-number__spin:after {
	border-bottom-color: #AAA;
}
.jq-number.disabled .jq-number__spin.minus:after {
	border-top-color: #AAA;
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 32px;
	padding: 0 45px 0 10px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: linear-gradient(#FFF, #E6E6E6);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px/32px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
}
.jq-selectbox__select:hover {
	background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	border-left: 1px solid #CCC;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	border: 1px solid #CCC;
	border-radius: 3px;
	outline: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}
.jq-select-multiple {
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #FFF;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px/18px Arial, sans-serif;
	color: #333;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
	padding: 8px 9px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px Arial, sans-serif;
	color: #333;
}
input[type='search'].styler {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea.styler {
	overflow: auto;
}
input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
	border-color: #B3B3B3;
}
input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
	border-color: #CCC;
	border-top-color: #B3B3B3;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
	overflow: visible;
	padding: 8px 11px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	outline: none;
	background: linear-gradient(#FFF, #E6E6E6);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
	cursor: pointer;
}
button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
	background: linear-gradient(#F6F6F6, #E6E6E6);
}
button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.felements {
	width: 32%;
	display: inline-block;
	vertical-align: top;
}
.felements h4 {
	font-size: 18px;
	display: block;
	padding: 0 0 10px 0;
}
.felements h4 span {
	color: #E50B5B;
}
.input-elements {
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 6px!important;
	border-radius: 6px!important;
	font-size: 16px;
	width: 90%;
	padding-left: 20px;
	padding-right: 20px;
	height: 56px;
	line-height: 54px;
}
.input-elements:hover, .input-elements:focus {
	border: 1px solid #E50B5B;
}
.wforms {
	padding-top: 5px;
}
.wforms .felements {
	margin: 30px 0 0 0;
}
.checkbox-title, .jq-checkbox {
	display: inline-block;
	vertical-align: middle;
}
.checkbox-title {
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 0 0;	
	width: 90%;
}
.checkbox-w {
	display: grid;
	grid-template-columns: 56px auto;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
	cursor: pointer;
}
.checkbox-left {
	align-self: center;
    justify-self: center;
	width: 100%;
}
.checkbox-right {
	align-self: center;
    justify-self: center;
	width: 100%;
	padding-left: 20px;
}
.felements-middle {
	vertical-align: bottom;
}

.border-hide {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.disabled-items {
	opacity: 0.4;
}

.big-text {
	 font-family: 'jostlight';
}
.big-text p {
	font-size: 40px;	
	padding: 20px 0 20px 0;
}

.fwcol3 {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: ;
	grid-template-areas: ". . .";
}
.fcol1 {
	padding-right: 40px;
}
.fcol2 {
	padding-right: 40px;
}
.fcol3 {
	padding: 10px 0 0 0;
}

.fwcol3 .felements {
	display: block;
	width: 100%;
}
.fwcol3 .felements input {
	width: 100%;
}
.input-textarea {
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 6px!important;
	border-radius: 6px!important;
	font-size: 16px;
	width: 100%;
	padding: 20px 0 20px 20px;
	height: 180px;	
}

.fcol3 p {
	font-size: 18px;
	padding: 20px 0 0 0;
}
.fcol3 p strong {
	font-family: 'jostbold';	
}
.form-error input, .form-error textarea, .input-checkbox.form-error {
	border:  1px solid #E50B5B;
}

.w100 {
	width: 100%;	
}
.w100 h4 {
	margin: 30px 0 10px 0;
	font-size: 18px;
    display: block;
}
.felements-radio {
	width: auto;
	display: inline-block;	
	margin: 0 40px 0 0!important;
}
.felements-radio .checkbox-title {
	width: 100%;
}
.jq-radio__div, .jq-radio.checked .jq-radio__div {
	width: 22px;
	height: 22px;
	border: 2px solid #C9C9C9;
	
	-webkit-border-radius: 50%;
	border-radius: 50%;
	
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -11px;
	
	position: absolute;
}
.jq-radio.checked .jq-radio__div {
	border: 2px solid #E50B5B;
	background: #E50B5B;
}
.jq-radio {
	display: inline-block;
	vertical-align: middle;
}
.felements-radio:hover .jq-radio {
	border: 1px solid #E50B5B;
}
.felements-radio:hover .checked, .felements-radio .focused {
	border: 1px solid #C9C9C9;
}

.checkbox-left, .checkbox-right {
	align-self: center;
    justify-self: center;
}

.ftext, .ftext2 {
	padding: 20px 0 0 0;
}
.ftext p {
	font-size: 12px;
	line-height: 14px;
	padding: 0px 0 0 0;
}
.ftext2 p {
	font-size: 14px;
	line-height: 18px;
	padding: 20px 0 0 0;
}
.ftext2 p strong {
	display: block;
	padding: 0 0 5px 0;
}


/* Window */
.bg {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
}
.window {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow-y: auto;
	z-index: 99;
}
.window-item {
	background: #fff;	
	width: 80%;
	margin: auto;
	margin-top: 130px;
	margin-bottom: 40px;
	padding: 60px 55px 60px 55px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}
.window-item h2 {
	font-family: 'jostbold';
	font-size: 30px;
	margin: 0 0 10px 0;
}
.wpitems {
	margin: 35px 0 0 0;
}
.wpitems li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
}
.price2 {
	font-size: 20px;
	color: #C71B59;
}
.close {
	position: absolute;
	right: 55px;
	top: 60px;
	background: url(../img/close.svg) no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.close:hover {
	opacity: 0.5;	
}
.wtext {
	border-top: 1px solid rgba(225, 225, 225, 1);
	border-bottom: 1px solid rgba(225, 225, 225, 1);
	margin: 40px 0 0 0;
	padding: 20px 0 40px 0;
}
.wtext h2 {
	font-size: 20px;
	font-weight: normal;
	font-family: 'jostmedium';
	margin: 20px 0 0 0;	
}
.wtext p {
	font-size: 16px;
	line-height: 24px;
	padding: 20px 0 0px 0;
}
.wb {
	padding: 40px 0 0 0;
}
.wb h2 {
	font-size: 20px;
	margin: 0;
}
.wb p {
	font-size: 18px;
	line-height: 24px;
	padding: 20px 0 10px 0;
}
.wb a {
	font-size: 18px;
	line-height: 24px;
	text-decoration: underline;
	font-family: 'jostmedium';
}
.wb a, .wb a:hover {
	color: #E60B5B;
}

.ar-top {
	position: fixed;
	right: 0;
	bottom: 10%;
	border-radius: 6px 0px 0px 6px;
	background-color: #EEEEEE;
	width: 48px;
	height: 48px;
	background-image: url(../img/ar-top.svg);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center;
	cursor: pointer;
	z-index: 4;
}
.ar-top:hover {
	background-color: #DFDDDD;
}

.ico-img {
	margin: 20px 0 0 0;
}
.ico-img li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.ico-img li:last-child {
	margin: 0;
}



/* Footer */
footer {
	color: #B7B7B7;
	background: #000;
	margin: 50px 0 0 0;
	padding: 60px 0 40px 0; 
}
footer a {
	color: #B7B7B7;
	text-decoration: underline;
}
footer a:hover {
	color: #fff;
	text-decoration: underline;
}
.fw {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
	font-size: 16px;
}
.fw1 {
	align-self: flex-start;
    justify-self: center;
	width: 100%;
	text-align: left;
}
.fw1 p, .fw2 p, .fw3 p {
	width: 70%;
}
.fw1 p {
	
}
.fw2 {
	align-self: flex-start;
    justify-self: center;
	width: 100%;
}
.fw2 p {
	margin: auto;	
}
.fw3 {
	align-self: flex-start;
    justify-self: right;	
	text-align: right;
}
.fw3 p {
	text-align: left;
	float: right;
}

.footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	margin: 40px 0 0 0;
	padding: 40px 0 0 0;
}
.fbw {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
}
.footer-left {
	
}
.footer-right {
	text-align: right;
}
.footer-right li {
	display: inline-block;
	margin: 0 0 0 20px;
}


/* Responsive */

@media all and (max-width: 1760px) {
	.w80, .tbw, .top-nav, .window-item {
		width: 90%;
	}
}

@media all and (max-width: 1540px) {
	.tbw-inner h1 {
		font-size: 37px;
	}
	.tbw-inner p {
		font-size: 20px;
		line-height: 20px;
	}
	.top-nav ul a i {
		height: 75px;
	}
	.mikrorynki i {
		background-size: 78px 75px;
    	width: 78px;
	}
	.konkuretsiya i {
		background-size: 72px 75px;
    	width: 72px;
	}
	.tseny-azs i {
		background-size: 73px 75px;
    	width: 73px;
	}
	.reklamnye-aktsii i {
		background-size: 107px 75px;
    	width: 107px;
	}
	.loyalnost i {
		background-size: 78px 75px;
		width: 78px;
	}
	.tekhnologii i {
		background-size: 66px 75px;
    	width: 66px;
	}
	.top-nav ul a strong {
		font-size: 16px;
		margin-top: 15px;
	}
	.top-nav {
		padding: 40px 0px 35px 0px;
	}
	.category h2 {
		font-size: 26px;
	}
	.category-items {
		margin: 20px 0 14px 20px;
		width: -moz-calc(25% - 20px);
    	width: -webkit-calc(25% - 20px);
    	width: -o-calc(25% - 20px);
	    width: calc(25% - 20px);
	}
	.category-w {
		width: -moz-calc(100% + 20px);
		width: -webkit-calc(100% + 20px);
		width: -o-calc(100% + 20px);
		width: calc(100% + 20px);
		margin-left: -20px;
	}
	.cit-b h3 {
		font-size: 20px;
	}
	.button-w .button, .button-w .button2 {
		width: 110px;
		font-size: 15px;
	}
}

@media all and (max-width: 1560px) {
	.button-big {
		font-size: 24px;
		min-width: 260px;
		height: 60px;
		line-height: 56px;
	}
	.big-text p {
		font-size: 28px;	
		padding: 10px 0 10px 0;
	}
}

@media all and (max-width: 1360px) {
	.button-w .button, .button-w .button2 {
		width: 100px;
	}
}

@media all and (max-width: 1240px) {
	header {
		height: 80px;
	}
	.w80, .tbw {
		width: 100%;
		padding: 0 20px 0 20px;
	}
	.logo span {
		width: 140px;
		font-size: 18px;
	}
	.col2 {
		grid-template-columns: auto auto;
	}
	.logo i {
		background-size: 38px 37px;
		width: 38px;
		height: 37px;
		margin: 0 5px 0 0;
	}
	.logo span {
		width: 140px;
    	font-size: 14px;
	}
	.button {
		font-size: 14px;
		height: 38px;
		line-height: 36px;
		width: 100px;
	}
	.top-nav {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
	.tbw-inner h1 {
		width: 100%;
	}
	.window-item {
		width: auto;
		margin: 20px;
	}
	.fcol1, .fcol2 {
		padding-right: 20px;
	}
	
}

@media all and (max-width: 1140px) {
	.category-items {
		width: -moz-calc(50% - 20px);
		width: -webkit-calc(50% - 20px);
		width: -o-calc(50% - 20px);
		width: calc(50% - 20px);
		height: 515px;
	}
	.cit-b {
		height: 300px;
	}
	.fw1 p, .fw2 p, .fw3 p {
		width: 90%;
	}
	.felements {
		width: 48%;
	}
	.jq-checkbox, .jq-radio {
		width: 40px;
		height: 40px;
	}
	.checkbox-right {
		padding-left: 10px;
	}
	.fwcol3 {
		display: block;
	}
	.fcol1, .fcol2 {
		padding-right: 0px;
	}
	
}

@media  screen and  (max-height: 800px)  {
   @media  screen and  (max-width: 1680px)  {
		.content-item {
			padding: 35px;
		}
		.button-big {
			font-size: 24px;
			padding: 0px 30px 0px 30px;
			min-width: 250px;
			height: 60px;
			line-height: 56px;   
		}
		.wforms {
			margin-bottom: 20px;
			margin-top: 15px; 
			padding-top: 10px;
		}
	   .input-elements {
			height: 46px;
    		line-height: 44px;   
	   }
	   .jq-checkbox, .jq-radio {
			width: 46px;
			height: 46px;
	   }
	   .checkbox-right {
			padding-left: 10px;
	   }
	   .felements h4 {
			font-size: 16px; 
			padding-bottom: 5px;
	   }
	   .wforms .felements {
			margin: 20px 0 0 0;
	   }	   
	   .input-textarea {
		   height: 140px;
	   }
	   .w100 h4 {
		   font-size: 16px;
		   margin-top: 10px;
	   }
	   .checkbox-title {
		   font-size: 16px;
	   }
	   .jq-radio__div, .jq-radio.checked .jq-radio__div {
			width: 18px;
    		height: 18px;
			margin: -9px 0 0 -9px;
	   }
	   
	   .w100 .felements-radio {
			width: auto;
		}
   }
}


@media all and (max-width: 1040px) {
	.top-nav ul a i {
		height: 60px;
	}
	.mikrorynki i {
		background-size: 62px 60px;
    	width: 62px;
	}
	.konkuretsiya i {
		background-size: 58px 60px;
    	width: 58px;
	}
	.tseny-azs i {
		background-size: 58px 60px;
    	width: 58px;
	}
	.reklamnye-aktsii i {
		background-size: 86px 60px;
    	width: 86px;
	}
	.loyalnost i {
		background-size: 62px 60px;
		width: 62px;
	}
	.tekhnologii i {
		background-size: 53px 60px;
    	width: 53px;
	}
	.top-nav ul a strong {
		font-size: 14px;
		margin-top: 15px;
	}
	.top-nav ul a small {
		font-size: 13px;
	}
	.top-nav {
		padding: 30px 0px 25px 0px;
	}
	.fbw, .footer-right {
		display: block;
		text-align: center;
	}
	.footer-right {
		margin: 10px 0 0 0;
	}
	
	.footer-right li {
		margin: 10px;
	}
	
	.window-item h2 {
		width: 80%;
		font-size: 24px;
	}
	.close {
		background-size: 24px;
		width: 24px;
		height: 24px;
	}
	.window-item h2 {
		font-size: 20px;
	}
	.window-item h2, .content-item h2 {
		font-size: 18px;
	}
	

}

@media all and (max-width: 840px) {
	.top-nav {
		padding: 0;
	}
	.top-nav ul li {
		width: 33.3%;
		padding: 30px 0 30px 0;
		border-bottom: 1px solid #EEEEEE;
    	border-right: 1px solid #EEEEEE;
	}
	.top-nav ul li:nth-child(3) {
		border-right: 0;
	}
	.top-nav ul li:last-child {
		border-right: 0;
	}
	.top-nav ul li:nth-child(4), .top-nav ul li:nth-child(5), .top-nav ul li:nth-child(6) {
		border-bottom: 0;
	}
	.category-items {
		width: -moz-calc(100% - 20px);
		width: -webkit-calc(100% - 20px);
		width: -o-calc(100% - 20px);
		width: calc(100% - 20px);		
	}
	.felements h4, .checkbox-title {
		font-size: 16px;
	}	
	.button-big, .felements, .input-elements {
		width: 100%;
	}
	.checkbox-w {
		grid-template-columns: 40px auto;
	}
	.big-text p {
		font-size: 22px;	
		padding: 10px 0 10px 0;
	}
	.checkbox-right {
		padding-left: 20px;
	}
}

@media all and (max-width: 640px) {
	.tbw-inner {
		padding: 0;
	}
	.tbw-inner h1 {
		font-size: 28px;
		line-height: 28px;
		width: 70%;
		text-align: center;
		margin: auto;
		margin-bottom: 20px;
	}	
	.tbw-inner p {
		margin: auto;
		text-align: center;
		font-size: 18px;
	}
	.fw {
		display: block;	
		
	}
	footer {
		padding: 20px 0 40px 0;
	}
	.fw1 p, .fw2 p, .fw3 p {
		float: none;
		width: 100%;
		padding: 20px 0 0 0;
	}
	.window-item {
		padding: 40px 30px 40px 30px;
	}
	.close {
		right: 30px;
    	top: 40px;
	}
	.wpitems li {
		margin-right: 10px;
	}
	.wpitems li:last-child {
		margin: 0;
	}
	.wpitems .button2 {
		width: 100px;
	}
	.price2 {
		font-size: 16px;
	}
	.content-item {
		padding: 40px 30px 40px 30px;
	}
	
	.felements-radio {
		margin: 0 20px 0 0!important;
	}
	.ico-img img {
		max-height: 25px;
	}
}

@media all and (max-width: 440px) {
	.tbw-inner h1 {
		width: 85%;
		font-size: 24px;
		line-height: 24px;
	}
	.tbw-inner p {
		width: 90%;
		font-size: 16px;
	}
	.top-banner {
		height: 300px;
	}
	.top-nav ul a strong {
		font-size: 13px;		
		height: 25px;
		line-height: 25px;
		padding-left: 8px;
    	padding-right: 8px;
	}
	.top-nav ul li:nth-child(3) a strong {
		line-height: 13px;
	}
	.top-nav ul li {
		padding: 35px 0 25px 0;
	}
	.category-items {	
		height: 520px;
	}
	.cit-b {
		height: 325px;
	}
	.close {
		background-size: 20px;
		width: 20px;
		height: 20px;
	}
	.jq-checkbox, .jq-radio {
		width: 30px;
		height: 30px;
	}
	.jq-checkbox.checked .jq-checkbox__div {
		background-size: 25px;
	}
	.checkbox-w {
		grid-template-columns: 30px auto;
	}
	.checkbox-title {
		width: 100%;
	}
	.input-elements {
		height: 46px;
    	line-height: 44px;
	}
	.button-big {
		padding: 0;
		min-width: 100%;
	}
	.button-big, .category h2 {
		font-size: 22px;
	}
	.category h2 {
		line-height: 22px;
		margin-bottom: 20px;
	}
	.wforms {
		margin-bottom: 40px;
	}
	.ar-top { 
		bottom: 5%;
	}
	
	.jq-radio__div, .jq-radio.checked .jq-radio__div {
		width: 14px;
		height: 14px;
		margin: -7px 0 0 -7px;
	}
	.felements-radio {
		margin: 5px 0 5px 0!important;
		width: 100%!important;
	}
	.felements-radio .checkbox-right {
		padding-left: 10px;
	}
	.ico-img img {
		max-height: 20px;
	}
}

@media all and (max-width: 360px) {
	.logo span {
		width: 130px;		
	}
	.top-nav ul a strong {
		font-size: 12px;
	}
	.cit-bt {
		height: 70px;
	}
	.wpitems li:last-child {
		display: block;
		padding: 20px 0 0 0;
	}
	.input-elements {
		height: 46px;
    	line-height: 44px;
	}
	.felements h4 {
		font-size: 16px;
	}
	.jq-checkbox {
		width: 38px;
    	height: 38px;
	}
	
}

	

